<div class="mt-5 ms-3">
  <a href="./chef/add" class="btn btn-success px-4 py-2 fw-bold shadow-sm d-flex align-items-center" style="width: fit-content;">
    <i class="bi bi-plus-circle me-2"></i>
    <span>Add Chef</span>
  </a>
</div>



<div class="container mt-4">
  <table class="table table-striped table-bordered text-center align-middle shadow-sm" style="width: 90%;">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">experienceYears</th>
        <th scope="col">Image</th>
        <th scope="col">type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% allChefs.forEach((item, index) => { %>
        <tr>
          <th scope="row"><%= index +1 %></th>
          <td><%= item.name %></td>
          <td><%= item.experienceYears %></td>
          <td>
            <img src="/uploads/<%= item.image %>" 
                 style="width: 80px; height: 80px; ">
          </td>
          <td> <%= item.type %></td>
          <td>
            <a href="/chef/view/<%= item._id %>" 
               class="btn btn-outline-primary btn-sm me-1" 
               data-bs-toggle="tooltip" 
               data-bs-title="View details">
              <i class="bi bi-eye"></i>
            </a>

            <a href="/chef/edit/<%= item._id %>" 
               class="btn btn-outline-warning btn-sm me-1" 
               data-bs-toggle="tooltip" 
               data-bs-title="Edit Meal">
              <i class="bi bi-pencil"></i>
            </a>

          <form action="/chef/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-outline-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>


